numpy

## The dependencies below are opt-in

## For the LMDBStore
# lmdb

## For the OpenAIEmbedder
# openai
# tiktoken

## For the CLIPTextEncoder and CLIPImageEncoder
# torch
# transformers
# pillow

## For KNNIndexer
# pynndescent
